body {
  font-family: Arial, sans-serif;
  background-color: #222; /* Dark grey background */
  color: white; /* White text */
}

.piano {
  display: flex;
  flex-direction: column; /* Display keys in columns */
  align-items: center; /* Center keys horizontally */
  margin-top: 20px;
}

.row {
  display: flex;
  justify-content: space-between; /* Distribute keys evenly */
  width: 100%;
}

.half-button {
  border: none;
  border-radius: 5px;
  width: 30px;
  height: 200px;
  font-size: 18px;
  cursor: pointer;
  background-color: #222;
}

.note-button {
  border: none;
  border-radius: 5px;
  width: 60px;
  height: 200px;
  font-size: 18px;
  cursor: pointer;
}

.white-key {
  background-color: white;
}

.black-key {
  background-color: black;
}

/* Rainbow colors */
.note-button:nth-child(1) { background-color: red; }
.note-button:nth-child(2) { background-color: orange; }
.note-button:nth-child(3) { background-color: yellow; }
.note-button:nth-child(4) { background-color: rgb(41, 194, 41); }
.note-button:nth-child(5) { background-color: rgb(18, 203, 232); }
.note-button:nth-child(6) { background-color: blue; }
.note-button:nth-child(7) { background-color: indigo; }
.note-button:nth-child(8) { background-color: violet; }

/* Set specific colors for individual keys */
button[data-note="G4"] { background-color: blue; }